<div class="demo bAbI-tasks">
  <div class="title">
    <span>bAbI Tasks for  Question Answering</span>
    <mdl-spinner v-if="modelLoading && loadingProgress < 100"></mdl-spinner>
  </div>
  <div class="loading-progress" v-if="modelLoading && loadingProgress < 100">
    Loading...{{ loadingProgress }}%
  </div>
  <div class="info-panel" v-if="showInfoPanel">
    <div class="info-panel-text">This demo is modified from the Keras <a target="_blank" href="https://github.com/fchollet/keras/blob/master/examples/babi_memnn.py">example</a> demonstrating the Memory Neural Network on Facebook's bAbI dataset. Click on "Select Task Type" to select the <a target="_blank" href="https://github.com/facebook/bAbI-tasks">Question Answering task type </a> from 1 of the 20 options.
    </div>
    <div class="info-panel-close">
      <div class="info-panel-close-btn" @click="closeInfoPanel"><i class="material-icons">close</i>CLOSE</div>
    </div>
  </div>
  <div class="columns input-output" v-if="!modelLoading">
    <div class="column input-column">
      <div class="input-container">
        <mdl-textfield
          :value.sync="inputText"
          spellcheck="false"
          textarea
          rows="8"
          @change="inputChanged"
          @keyup="inputChanged"
          @paste="inputChanged"
        ></mdl-textfield>
        <div class="input-buttons">
          <div class="input-load-button" v-on:click="randomSample"><i class="material-icons">add_circle</i>नई कहानी पाएं</div>
          <div class="input-clear-button" v-on:click="clear"><i class="material-icons">clear</i>साफ़ करें</div>
        </div>
        <mdl-select
           label=" आपका सवाल ?"
           id="query-select"
           :value.sync="queryInput"
           :options="querySelectList"
           @change="querySelectChanged"
         ></mdl-select>  
      </div>
    </div>
    <div class="column output-column">
      <div class="output">
        <div class="output-class" v-for="i in [0, 1, 2,3,4,5]"> 
            <div class="output-label">{{ outputClasses[i].name }}</div>
            <div class="output-bar" style="width: {{ Math.round(100 * outputClasses[i].probability) }}px; background: rgba(27, 188, 155, {{ outputClasses[i].probability.toFixed(2) }});"></div>
            <div class="output-value">{{ Math.round(100 * outputClasses[i].probability) }}%</div>
        </div>        
      </div>
    </div>
  </div>
</div>
